@using Entities.Concrete
@model List<Entities.DTOs.CustomerDetailDto>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <!-- Content Header (Page header) -->
    <!-- Main content -->

    <section class="content pt-3">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <a href="/Customer/AddCustomer/" style="width:auto" class="btn btn-success"><i class="fas fa-plus"></i></a>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                #
                            </th>
                            <th style="width: 10%">
                                Şirket Adı
                            </th>
                            <th style="width: 10%">
                                Kullanıcı Adı
                            </th>
                            <th style="width: 10%">
                                Kullanıcı Soyadı
                            </th>
                            <th style="width: 25%;float: right">
                                İşlemler
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td>
                                @item.CustomerId
                            </td>
                            <td>
                                <a>
                                    @item.CompanyName
                                </a>
                            </td>
                            <td>
                                <a>
                                    @item.FirstName
                                </a>
                            </td>
                            <td>
                                <a>
                                    @item.LastName
                                </a>
                            </td>
                            <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm" href="/Customer/EditCustomer/@item.CustomerId">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Düzenle
                                </a>
                                <a class="btn btn-danger btn-sm" href="/Customer/DeleteCustomer/@item.CustomerId">
                                    <i class="fas fa-trash">
                                    </i>
                                    Sil
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>

    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
</body>
</html>

@*<ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="active nav-link" data-toggle="tab" href="#car">Araç Yönetimi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#brand">Marka Yönetimi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#color">Renk Yönetimi</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="car" class="tab-pane fade show active">
            <h3>Test Yönetimi</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="brand" class="tab-pane fade">
            <h3>Marka Yönetimi</h3>
            <p>Some content in menu 1.</p>
        </div>
        <div id="color" class="tab-pane fade">
            <h3>Renk Yönetimi</h3>
            <p>Some content in menu 1.</p>
        </div>
    </div>*@